@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

@section content {
    <h2>@ViewBag.Post.title</h2>
    <p>@ViewBag.Post.text</p>
}

@section sidebar {
    <h3>Latest posts</h3>
    @{Html.RenderAction("PostsWidget", "Page");}
}